fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
lxml==5.3.0
pandas==2.1.4
openpyxl==3.1.5
pymorphy3==2.0.2
treelib==1.7.0
requests==2.32.3
pydantic==2.9.2
pydantic-settings==2.6.0
python-dotenv==1.0.1
aiofiles==24.1.0
brotli==1.1.0

